<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home page</title>
    <%- include("./partials/Head") %>
  </head>
  <body>
    <%- include('./partials/nav') %> <%- include('./partials/scripts') %>
  </body>
</html>
